:root {
    --grey:  #6d6d6d;
    --mainWhite: #ffffff;
}
body{
    margin: 0;
    padding: 0;
    
}

.title{
    text-align: center;
}

#navbar{
    width: 100%;
    height: 70px;
    background-color: var(--grey);
    color: var(--mainWhite);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu {
  display: flex;
  gap: 1rem;
}

.menu a {
  color: white;
  text-decoration: none;
}

.toggle {
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
  }

  .menu.show {
    display: flex;
	background-color: black;
  }

  .toggle {
    display: block;
  }
}



#hero{
    background-color: rgb(226, 209, 209);
    height: 700px;
}
.hero-container {
  height: 700px;
  background-color: #c1f1ff;
  background-position: center;
  position: relative;
}

.overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.hero-subtitle {
  color: #bbb;
  text-transform: uppercase;
}

.hero-title {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}

.highlight {
  color: #9B5DE5;
}

.hero-text {
  color: #bbb;
}


.btn-custom {
  padding: 15px 40px !important;  
  border-radius: 30px !important;
  background-color: #9B5DE5 !important;
  color: white !important;
  text-decoration: none !important;
  display: inline-block;
  border: none !important;
}

.btn-custom:hover {
  background-color: #7e3cb5 !important; 
  color: #fff !important;
}

#projects{
    background-color: rgb(228, 228, 228);
    height: 700px;
}
#class{
    background-color: rgb(200, 231, 202);
    height: 700px;
}
#other{
    background-color: rgb(172, 211, 221);
    height: 700px;
}

footer {
    background-color: #343a40;
    color: #fff;
    padding-top: 3rem;
    display: flex;
}

.fot-con{
  justify-items: center;
}
footer h3, footer h4 {
    font-weight: bold;
}

footer ul li {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

footer a {
    text-decoration: underline;
    color: #fff;
}

footer a:hover {
    color: #b3fda4;
}
